.progress {
  width: 100%;
  height: 2em;
}

.progressBar {
  height: 2em;
  width: 100%;

  transition: width 1s, background-color 1s ease;
  transition-timing-function: linear;
}

.high {
  background-color: #2B1A42;
}

.middle {
  background-color: #8753D0;
}

.low {
  background-color: #A789D0;
}
