.question {
  font-size: 1.75em;
  font-weight: bold;
}

.text {
  margin: .5em;
  color: #170134;
}

.choices {
  margin-top: 1em;
  margin-bottom: 1em;
}

.choice {
  display: block;
  cursor: pointer;

  text-align: center;
  font-size: 1em;
  background-color: #2F0866;
  color: #A789D0;

  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

  margin: .5em;
  padding: .3em;
}

.choice.selected {
  background-color: #A789D0;
  color: #170134;

  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.choice input[type='radio'] {
  display: none;
}
