.App {
  background-color: lightgrey;
  text-align: left;
  height: 100vh;
}

.App-header {
  background-color: #170134;
  background: linear-gradient(180deg, #170134, #2F0866);
  color: #A789D0;

  font-size: calc(2em + 2vmin);
  font-weight: bold;
  text-align: center;

  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-main {
  background-color: lightgrey;
}
